/* COLOR DEFINITION */
:root {
    --primary-color: #660033; /* Primary color, a dark red */
    --secondary-color: #2b0518; /* Secondary color, a darker red */
    --background-color: #111111; /* Background color, a dark grey */
    --text-color: #cccccc; /* Text color, a light grey */
    --accent-color: #ff0033; /* Accent color, a bright red */
}

@font-face {
    font-family: 'Gang';
    src: url('font/gang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*change to flex or whatever for you content, carefull it needs to keep the margin for the sidebar*/
main {
    display: block;
    margin-left: 150px;
    padding: 1em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gang', monospace;
    background-color: var(--background-color);    
    background-image: linear-gradient(to bottom, #0a0a0a, #290e0e);
    background-attachment: fixed;
    background-size: 100% 100vh;
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    font-size: 1.5em;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    text-shadow: 0 0 5px var(--accent-color);
}

main h1, main p , main label, main form{
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 0 5px var(--accent-color);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1em;
    text-align: center;
    clear: both;
}

footer p {
    margin: 0;
    text-shadow: 0 0 5px var(--accent-color);
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
}

.clickable-block {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    padding: 1em;
    width: 250px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.clickable-block:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    background-color: var(--accent-color);
    color: var(--background-color);
}

.clickable-block h2 {
    margin: 0;
    font-size: 1.5em;
    text-shadow: 0 0 5px var(--accent-color);
}

.clickable-block p {
    margin: 0.5em 0 0;
    font-size: 1em;
    text-shadow: 0 0 5px var(--accent-color);
}

