{% extends 'base.html' %}

{% block content %}
<!--CONTENT GOES HERE-->

        <h1>Our Protection Service :</h1>
        <p>Don't take risks ! Stay safe in these troubled times and treat yourself to the protection services of one of our members. <br>Who knows what could happen if you decided to go without it...</p>
        	<div class="blocks-container">
        <a href="/member_info?id=1" class="clickable-block">
            <h2>The Bull</h2>
            <p>"As strong as a real one"</p>
        </a>
        <a href="/member_info?id=2" class="clickable-block">
            <h2>The razor</h2>
            <p>"Snip Snip"</p>
        </a>
        <a href="/member_info?id=3" class="clickable-block">
            <h2>The Executionner</h2>
            <p>"Already done"</p>
        </a>
    </div>
        
    {% endblock %}

